<!--<div id="calculator1">-->

  <!--<%= render partial: "calculator" %>-->
  <!--<%= render partial: "result" %>-->
<!--</div>-->


<!--<div id="calculator2">-->

  <!--<%= render partial: "calculator" %>-->
  <!--<%= render partial: "result" %>-->
<!--</div>-->

<input type="button" value="Add Calculator" id="addCalculatorButton">

<div id="wrapper"></div>

<div id="template" style= "visibility: hidden;">
  <div id="container" style="float: left;margin-right: 20px;padding: 10px;border: 1px solid black;">

    <%= render partial: "calculator" %>
    <%= render partial: "result" %>
  </div>
</div>

